<!-- Interpolation -->
<h4>Interpolation Binding => {{ interpolationBinding }}</h4>

<!-- Property Binding -->
<h4>Property Binding => <input [value]="propertyBinding" type="text" /></h4>

<!-- Attribute Binding -->
<h4>Attribute Binding => <input value="{{ attributeBinding }}" type="text" /></h4>

<!-- Event Binding -->
<h4>Event Binding => <button (click)="eventBinding()" [innerText]="eventBindingText"></button></h4>


<!-- Styling -->
<!-- Class Binding -->
<!-- <h4>Class Binding => <input class="classBinding" type="text" /></h4> -->

<!-- Style Binding -->
<!-- <h4>Style Binding => <input [style.color]="styleBinding" type="text" /></h4> -->
<!-- Styling -->




