<h4>Lifecycle Hooks!</h4>
<input #text type="text" (keyup)="getInputValue(text.value)" />
<!-- <div style="border:2px solid black">
    <h3>ng-on-change</h3>
    <app-ng-on-change [ngOnChangeInput]="onChangeInput"></app-ng-on-change>
</div> -->
<!-- <div style="border:2px solid black">
    <h3>ng-on-init</h3>
    <app-ng-on-init></app-ng-on-init>
</div> -->
<!-- <div style="border:2px solid black">
    <h3>ng-do-check</h3>
    <app-ng-do-check [ngDoCheckInput]="onChangeInput"></app-ng-do-check>
</div> -->
<!-- <div style="border: 2px solid black">
  <h3>ng-on-content InitAndChecked</h3>
  <button (click)="getAlert = !getAlert">Get Alert</button>
  <app-ng-after-content-init-and-checked
    ><app-pop-up *ngIf="getAlert" [message]="onChangeInput"
  /></app-ng-after-content-init-and-checked>
</div> -->

<!-- <div style="border: 2px solid black">
  <h3>ng-after-view-init</h3>
  <app-ng-after-view-init></app-ng-after-view-init>
</div> -->

<!-- <div style="border: 2px solid black">
  <h3>ngOnDestroy</h3>
  <app-ng-on-destroy></app-ng-on-destroy>
</div> -->